.t-header {
    background-color: lightgray;
    min-width: 100px;
}

.t-content {
    background-color: lightblue;
    height: 50px;
    width: 15%;
}

table {
    width: 80%;
    margin-right: auto;
}